#Folders
exe/
projects/Linux/Makefile
projects/Linux/Makefile.in
projects/Linux/aclocal.m4
projects/Linux/autom4te.cache
projects/Linux/config.*
projects/Linux/configure
projects/Linux/depcomp
projects/Linux/install-sh
projects/Linux/libtool
projects/Linux/ltmain.sh
projects/Linux/m4
projects/Linux/missing
projects/Linux/stamp-h?
projects/*/.DS_Store
projects/exe_BovisaCluster/
projects/exe_Linux/
src/.deps/
#Files
projects/*/config.log
projects/*/NetSMOKEpp.sh
.DS_Store
src/OptiSMOKEpp.o
projects/Linux_BovisaCluster/Makefile
projects/Linux_BovisaCluster/Makefile.in
projects/Linux_BovisaCluster/OptiSMOKEpp.sh
projects/Linux_BovisaCluster/aclocal.m4
projects/Linux_BovisaCluster/autom4te.cache/
projects/Linux_BovisaCluster/config.status
projects/Linux_BovisaCluster/configure
projects/Linux_BovisaCluster/depcomp
projects/Linux_BovisaCluster/install-sh
projects/Linux_BovisaCluster/missing
