#Folders
exe/
projects/Linux/Makefile
projects/Linux/Makefile.in
projects/Linux/aclocal.m4
projects/Linux/autom4te.cache
projects/Linux/config.*
projects/Linux/configure
projects/Linux/depcomp
projects/Linux/install-sh
projects/Linux/libtool
projects/Linux/ltmain.sh
projects/Linux/m4
projects/Linux/missing
projects/Linux/stamp-h?
projects/*/.DS_Store

#Files
projects/*/config.log
projects/*/NetSMOKEpp.sh
.DS_Store
