{
	"PATH":["/home/chimica2/tdinelli/GitHub/OptiSMOKE_toolbox/test/test-2/Output/tabular_data.dat",
		"/home/chimica2/tdinelli/GitHub/OptiSMOKE_toolbox-bertolino/EXAMPLES/BATCH/ST/TC_wang_MaxDOH/tabular_data.dat",
		"/home/chimica2/tdinelli/GitHub/OptiSMOKE_toolbox/test/test-pfr/Output/tabular_data.dat",
		"/home/chimica2/tdinelli/GitHub/OptiSMOKE_toolbox-bertolino/EXAMPLES/PFR/TC_stagni_PFR_ss/tabular_data.dat"],
	"NAMES":["test-batch", 
			"original-batch",
			"test-pfr",
			"original-pfr"],
	"OBJ_FUN_TYPE":["cm", "cm", "cm", "cm"]
}
